<link rel="stylesheet" type="text/css" href="sign-in.scss">

  <div class="log-box">
    <h1>AOK's</h1>
    <h3>Sign-In</h3>

  <section>
  <%= form_tag('/session_log_in', method: :post) do%>
    <%= label_tag :username %><br>
    <%= text_field_tag :username %><br>
    <%= label_tag :password %><br>
    <%= password_field_tag :password %><br>
    <%= submit_tag "Sign-In" %>
  <% end %>
  </section>
  </div>
